/* Add basic styles for the pages */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#home,
#local-play,
#computer-play,
#online-play {
  text-align: center;
  padding: 50px;
}

#mode-selection button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}
